html,body{heigh:100%;}
body {
	margin: 0 !important;
	padding: 0 !important;
	background: linear-gradient(to right, #fc354c, #0abfbc);
}


.header {
	width: 100%; 
	height: 10%; 
	
	background: linear-gradient(to right, #fc354c, #0abfbc);
	color: white; 
	text-align: center; 
	font-size: 40px;
	font-weight: bold;
	font-family: FaxScanBeta;
	line-height: 175%;
}

@font-face {
	font-family: FaxScanBeta;
	src: url('Fax Sans Beta.otf');
}

.button { 
	width: 40%; 
	height: 5%;
	border-radius: 8px;
	color: white;
	background-color:  #C00C3C;
	display: block;
	margin: 0 auto;
}

.left { position: absolute; margin-left:5%; width: 40%; height: 90%; background-color: white; }
.right { position: absolute; margin-left:55%; width: 40%; height: 90%; background-color: #ddd; }
.startDiv {padding: 10px; text-align: center}
.startDiv select {width: 50px;}
textarea { width: 98%; height: 90%; overflow:auto; resize: none;  }
textarea:focus { border-color: #C50D3D; }
input[type=text] { width: 50%; padding: 2px; }
input[type=number] { width: 50%; padding: 2px; }
label { display: inline-block; width: 30%; height: 30px; }
.select { width: 50%; padding: 2px; }
.download { width: 80%; height: 30px; display: block; margin: 0 auto; }
.radio { display: block; margin: 0 auto; }
hr { width: 90%; border-style: solid; border-width: 2px; }
em{margin-left: 5%;}

/* Code taken from https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab {
	overflow: hidden;
	background-color: #90092d;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	color: white;
	width: 25%;
	float: left;
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	padding: 7px 10px;
}

.tabcontent button{
	background-color: #945656;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
	color: #C50D3D;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
} 
